<xacro:property name="radius" value="0.56"/>

<link name="body">
  <visual>
    <geometry>
      <box size="0.4 5 4" rpy="0 0 0"/>
    </geometry>
	  <material name="red">
	    <color rgba="0.5 0.7 0.1 1"/>
	  </material>
  </visual>
</link>

<joint name="joint1">
  <parent link="joint4"/>
  <child link="jointparent"/>
  <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>
